.schedule {
  position: relative;
  width: 90%;
  min-height: 10%;
  margin: 10px auto 0 auto;
  background-color: #ffffff;
  box-shadow: #e6e6e6 1px 5px; }
  .schedule .row, .schedule .truck {
    height: 10%; }
  .schedule .truck .ons-icon {
    font-size: 3em;
    clear: both;
    margin: 0 auto 0 auto; }
  .schedule .truck h5 {
    margin: 0;
    padding: 0; }
  .schedule .container {
    margin: 0;
    padding: 0 0 0 5px;
    vertical-align: text-bottom;
    text-align: center;
    height: 100% !important; }
  .schedule .options {
    float: right; }

.schedule.free .truck {
  background-color: #ff5a00 !important;
  color: #ffdecc; }
.schedule.free .title {
  color: #ff5a00; }
