@import 'variables';

@mixin buttonShadowAndColor($shadow) {
  //  box-shadow: inset 3px -3px darken($shadow, 7%);
    background-color: $shadow;
}

@mixin active($back-color) {
    box-shadow: none;
    opacity: 1;
    background-color: $back-color;
    transform: scale(0.999);
}

@mixin vertical-align() {
    position: absolute;
    top: 25%;
}

@mixin horizontal-center-align() {
    margin-left: auto;
    margin-right: auto;
}

@mixin full-height() {
    height: 100% !important;
}

@mixin input-sides-border() {
    width: 1px;
    height: 5px;
    content: " ";
    background-color: $underbar-color;
    position: absolute;
    bottom: 0;
}

@mixin box() {
    box-shadow: darken(#ffffff, 10%) 1px 5px;
}

@mixin sucess-box() {
    background-color: $success-color;
}