@import 'variables';
@import 'reset';
@import 'mixins';
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format('truetype'),
}

* {
    font-family: Roboto;
}

.navigation-bar {
    background-color: $header-backcolor;
    width: $full-width;
    color: $header-forecolor !important;
}

.navigation-bar * {
    color: $header-forecolor !important;
}

.bottom-bar {
    .col {
        @include full-height();
    }
    .row {
        @include full-height();
    }
    .button {
        @include reset-border-radius();
        color: $tab-bar-button-fore-color;
        @include full-height();
        margin: 0;
    }
}

.primary-button {
    @include buttonShadowAndColor($primary-button-color);
    &:active {
        @include active($primary-button-color);
    }
}

.secondary-button {
    @include buttonShadowAndColor($secondary-button-color);
    &:active {
        @include active($secondary-button-color);
    }
}

.page--full_bg__content {
    background-image: url(../img/home_compressed.jpg) !important;
    background-size: 150% 220% !important;
}

.input-container {
    position: relative;
    &::after {
        @include input-sides-border();
        right: 0;
    }
    &::before {
        @include input-sides-border();
        left: 0;
    }
    input {
        clear: none;
    }
}

.full-height {
    @include full-height();
}