@import 'mixins';
@import 'variables';

.schedule {
  position: relative;
  min-height: $schedule-min-height;
  width: 90%;
  padding: 0;
  margin: 10px auto 0 auto;
  background-color: #ffffff;
  display: block;
  border: solid 1px darken(#ffffff, 5%);
   @include box();
  .row{
    height: $schedule-min-height;
  }
  .truck {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 15%;
    height: 100%;
    [class*="icon-"] {
      font-size: 300%;
      clear: both;
      margin: 0 auto 0 auto;
      top: 20%;
      position: relative;
    }
    p {
      margin: 2% 0 0 0;
      padding: 0;
      font-size: 110%;
      text-transform: uppercase;
    }
    &:active {
      opacity: 1 !important;
    }
  }
  .container {
    margin: 0;
    padding: 0 0 0 5px;
    @include full-height();

    .title {
      margin: 1.2em 0 0 0;
      vertical-align: middle;
      text-align: center;
    }
  }
  .options {
    float: right;
    color: #ababab !important;
    font-size: 17px;
    top: -1%;
    font-weight: lighter;
    position: absolute;
    right: -3%;
  }
  &:active {
    box-shadow: 0 0 transparent;
  }


  @media (min-width: $large-device-width) {
    width: 45%;
    margin-left: 3%;
    float:left;
    clear:none;
    position:relative;
  }


}

.logo-container
{
  top: 30%;
  position: fixed;
  width: 100%;
  text-align: center;
}

div.carousel{
  width: 100%;
  top: 45%;
  position: fixed;
  text-align: center;
  color: white;

  .indicator{
    margin-left: auto;
    margin-right: auto;
  }

  .indicator button i{
    color:white;
  }

  .indicator button.active i{
    color: darken(white,10%)

  }


}




i.icon-logo_rede{
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 200%;
}

.schedule.free {
  .container {
    .title {
      color: $schedule-truck-free;
      margin-top: 1.5em
    }

  }

  .truck {
    background-color: $schedule-truck-free !important;
     }
}

.schedule.success {
  .truck {
    @include sucess-box();
  }
  .title {
    color: $success-color;
  }
}

.big-notification {
  @include sucess-box();
  @include box();
  color: #fff;
  width: 89%;
  padding: 0.5% 5% 2% 0.5%;
  margin: 10px auto 0 auto;
  min-height: $schedule-min-height*1.5;
  p {
    text-align: center;
    font-size: 150%;
  }


}



.popover__top-arrow{
    display: none;
    
}

.anime-hide{
  animation: swipe 0.5s linear 0s;
  -moz-animation: swipe 0.5s linear 0s;

}



@keyframes swipe {
  0%   {margin-left: 25%;display: block}
  25%  {margin-left: 50%;display: block}
  50%  {margin-left: 75%;display: block}
  100% {margin-left: 100%; display: none}
}
@-webkit-keyframes swipe {
  0%   {margin-left: 25%;display: block}
  25%  {margin-left: 50%;display: block}
  50%  {margin-left: 75%;display: block}
  100% {margin-left: 100%; display: none}
}