@import 'variables';
@import 'mixins';
.user-types{
  border: none;
}

.finish-page, .finish-page  .page__background{
  background-color: $header-backcolor !important;
}


.form.signin{

  .select, input{
    font-size: 15px !important;
  }

  .select-container {
    border-color: $header-backcolor;
    .back-arrow{
      border-top-color: $header-backcolor;
    }
    select {
      color: $header-backcolor;
    }

  }
  .row:nth-of-type(1)
  {
    margin-bottom: 10px;
  }
  .row{
    margin-top: 20px;
  }

  .button{
    width: 94%;
    margin: 15px 2.5% 2.5% 15px;
  }

  .input-container,   .select-container{
    margin: 15px 5px 0 15px;


    &:after{
      right: 0px;
    }

  }

  .title{
    font-weight: lighter;
    padding: 0 6px 0 6px;
    font-style: italic;
  }

  .title.gray,.title.gray{
    color: rgb(205, 204, 204);
  }

  .finish-title-content{
    margin: 100px 0 0 0;
  }

  .finish-title-content{

    .title{
      color: $header-forecolor
    }
  }

  .veihcle-title-content, .finish-title-content{
    text-align: center;
    width: 100%;

    .title.gray{
      margin: 5px 0 0 0;
    }

  }

  .finish-title{
    color: $header-forecolor !important;
    padding-top: 50px;
    h5.title{
      color: $header-forecolor !important;
      margin: 30px 0 0 0;
      text-transform: uppercase;
    }

    i{
      font-size: 110px;
    }


  }

  .veihcle-title{
    color: $header-backcolor !important;
    padding-top: 50px;

    h5.title{
      color: $header-backcolor !important;
      margin: 5px 0 0 0;
      text-transform: uppercase;
    }

    i{
      font-size: 110px;
    }


  }


}







