@mixin buttonShadowAndColor($shadow) {
    box-shadow:  inset 3px -3px darken($shadow, 7%);
    background-color: $shadow;
}

@mixin active($back-color) {
    box-shadow: none;
    opacity: 1;
    background-color: $back-color;
    transform: scale(0.999);
}

@mixin vertical-align() {
    position: absolute;
    top: 25%;
}

@mixin horizontal-center-align() {
    margin-left: auto;
    margin-right: auto;
}