@import 'mixins';
@import 'variables';
.schedule {
    position: relative;
    width: 80%;
    min-height: $schedule-min-height;
    margin: 10px auto 0 auto;
    .row, .truck {
        height: $schedule-min-height;
    }
    .truck {
        color: lightgray !important;
        
        .ons-icon {
            font-size: 3em;
            clear: both;
            margin: 0 auto 0 auto;
        }
        h5 {
            margin: 0;
            padding: 0;
        }
    }
}

.schedule.free {
    .truck {
        background-color: $schedule-truck-free !important;
    }
    
}