@import 'mixins';
@import 'variables';

.schedule {
  position: relative;
  width: 90%;
  min-height: $schedule-min-height;
  margin: 10px auto 0 auto;
  background-color: #ffffff;
  box-shadow: darken(#ffffff, 10%) 1px 5px;

  .row, .truck {
    height: $schedule-min-height;
  }
  .truck {
    .ons-icon {
      font-size: 3em;
      clear: both;
      margin: 0 auto 0 auto;
    }
    h5 {
      margin: 0;
      padding: 0;
    }
  }
  .container {
    margin: 0;
    padding: 0 0 0 5px;
    vertical-align: text-bottom;
    text-align: center;
    @include full-height();
  }
  .options {
    float: right;

  }

}

.schedule.free {
  .truck {
    background-color: $schedule-truck-free !important;
    color: lighten($schedule-truck-free, 40%);
  }
  .title {
    color: $schedule-truck-free;
  }
}