$header-backcolor: #1fbdbe;
$header-forecolor: white !important;
$full-width: 100%;
$primary-button-color: #ff8a00;
$secondary-button-color: #d7d7d7;
$tab-bar-button-fore-color: white;
$dark-percentage: 0.01%;