$header-backcolor: #1fbdbe;
$header-forecolor: white;
$full-width: 100%;
$primary-button-color: #ff8a00;
$secondary-button-color: #d7d7d7;
$tab-bar-button-fore-color: white;
$dark-percentage: 0.01%;
$extra-small-device-width: 320px;
$small-device-width: 641px;
$medium-device-width: 961px;
$large-device-width: 1025px;
$extra-large-device-width: 1281px;