<ons-page ng-init="pageTitle = 'Recuperar Senha'">
<ng-include src="'app/views/shared/toolbar-with-back.html'"></ng-include>
<div class="login-form">
    <ons-row>
        <ons-col>
            <div class="input-container">
                <input type="email" class="text-input text-input--underbar large" placeholder="Email" value="">
            </div>
        </ons-col>
    </ons-row>
    <br>
    <br>
    <ons-button modifier="large" class="login-button primary-button">Resetar Senha</ons-button>
    <br>
    <br>
</div>
<ons-bottom-toolbar>
    <ons-button modifier="large" class="secondary-button forgot-password full-height" ng-click="navi.pushPage('app/views/login/forgotEmail.html')">Esqueceu o email?</ons-button>
</ons-bottom-toolbar>

</ons-page>