<ons-page ng-init="pageTitle = 'Entrar'" ng-controller="loginController as vm">
    <ng-include src="'app/views/shared/toolbar-with-back.html'"></ng-include>
    <form ng-submit="vm.loginAction()">
        <div class="login-form">
            <ons-row>
                <ons-col>
                    <div class="input-container">
                        <input type="email" required 
                               class="text-input text-input--underbar large" 
                               placeholder="Email" 
                               ng-model="loginCliente.email">
                    </div>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <div class="input-container">
                        <input type="password" 
                               required 
                               class="text-input text-input--underbar large" 
                               placeholder="Senha" 
                               ng-model="loginCliente.senha">
                    </div>
                </ons-col>
            </ons-row>
            <br>
            <br>
            <button id="loginSubmit" type="submit" ng-hide="true"></button>
            <ons-button modifier="large" class="login-button primary-button" onclick="document.getElementById('loginSubmit').click();">
                Entrar</ons-button>
            <br>
            <br>
        </div>

    </form>
    <ons-bottom-toolbar>
        <ons-button modifier="large" class="secondary-button forgot-password full-height" ng-click="navi.pushPage('app/views/login/forgot.html')">Esqueceu a Senha?</ons-button>
    </ons-bottom-toolbar>

</ons-page>