
<ons-page>
    <ons-sliding-menu menu-page="app/views/shared/menu.html" main-page="dashboard.html" side="left" var="menu" type="reveal" max-slide-distance="260px" swipable="true">
    </ons-sliding-menu>
    <ons-template id="dashboard.html">
        <ons-page ng-controller="dashboardController as vm">
            <ons-toolbar>
                <div class="left">
                    <ons-toolbar-button ng-click="menu.toggleMenu()">
                        <ons-icon icon="ion-navicon">

                        </ons-icon>
                    </ons-toolbar-button>
                </div>
                <div class="center">Rede Frete Fácil</div>
                <div class="right">
                    <ons-toolbar-button ons-if-platform="android">
                        <ons-icon icon="fa-ellipsis-v">

                        </ons-icon>
                    </ons-toolbar-button>

                </div>
            </ons-toolbar>

            <div class="big-notification">
                <p>
                    Mantenha seus caminhões agendados e aumente suas oportunidades.
                </p>
            </div>

            <button class="schedule free" ng-repeat="truck in vm.notScheduledTrucks">
                <ons-row>
                    <ons-col width="35%">
                        <ons-button modifier="large" class="truck">
                            <i class="flaticon-truck">
                            </i>
                            <p>{{truck.plate}}</p>
                        </ons-button>
                    </ons-col>
                    <ons-col width="58%">
                        <div class="container">
                            <h5 class="title">Agendar Caminhão</h5>
                        </div>
                    </ons-col>
                    <ons-col width="7%">
                        <ons-button modifier="quiet" class=" right options">
                            <ons-icon icon="fa-ellipsis-v">

                            </ons-icon>
                        </ons-button>
                    </ons-col>
                </ons-row>
            </button>

            <div class="schedule success" ng-repeat="schedule in vm.schedules">
                <ons-row>
                    <ons-col width="35%">
                        <ons-button modifier="large" class="truck">
                            <i class="flaticon-truck">
                            </i>
                            <p>{{schedule.truck.plate}}</p>
                        </ons-button>
                    </ons-col>
                    <ons-col width="58%">
                        <div class="container">
                            <h5 class="title">{{schedule.date + '(' + schedule.moment.format('dddd') +')' }} <br>
                                                       <small>{{schedule.location}}</small></h6>

                        </div>
                    </ons-col>
                    <ons-col width="7%">
                        <ons-button modifier="quiet" class=" right options">
                            <ons-icon icon="fa-ellipsis-v">

                            </ons-icon>
                        </ons-button>
                    </ons-col>
                </ons-row>
            </div>


        </ons-page>
    </ons-template>
</ons-page>