.login-form {
  text-align: center;
  height: auto;
  position: absolute;
  top: 25%; }
  .login-form input[type=email], .login-form input[type=password] {
    display: block;
    width: 100%;
    margin: 0 auto;
    outline: none;
    padding-top: 24px;
    padding-bottom: 24px; }
  @media screen and (min-width: 320px) {
    .login-form {
      width: 80%;
      left: 10%; } }
  @media screen and (min-width: 641px) {
    .login-form {
      width: 60%;
      left: 20%; } }
  @media screen and (min-width: 961px) {
    .login-form {
      width: 40%;
      left: 30%; } }

.forgot-password {
  color: gray !important; }

.login-form.email {
  top: 20% !important; }
  .login-form.email .tel {
    color: #1fbdbe;
    font-weight: lighter; }

.forgot-email-content {
  color: #1fbdbe;
  margin-top: 0px;
  border-bottom: 1px solid lightgrey; }
  .forgot-email-content i {
    font-size: 170px; }
  .forgot-email-content .title.gray {
    color: lightgrey !important;
    text-transform: none;
    text-align: justify; }
  .forgot-email-content .title {
    text-transform: uppercase;
    font-style: italic;
    font-weight: lighter; }
