.schedule {
  position: relative;
  min-height: 12%;
  width: 90%;
  padding: 0;
  margin: 10px auto 0 auto;
  background-color: #ffffff;
  display: block;
  border: solid 1px #f2f2f2;
  box-shadow: #e6e6e6 1px 5px; }
  .schedule .row {
    height: 12%; }
  .schedule .truck {
    color: rgba(255, 255, 255, 0.7);
    padding-top: 20%;
    height: 100%; }
    .schedule .truck [class*="flaticon-"] {
      font-size: 300%;
      clear: both;
      margin: 0 auto 0 auto;
      top: 20%;
      position: relative; }
    .schedule .truck p {
      margin: 2% 0 0 0;
      padding: 0;
      font-size: 110%; }
    .schedule .truck:active {
      opacity: 1 !important; }
  .schedule .container {
    margin: 0;
    padding: 0 0 0 5px;
    height: 100% !important; }
    .schedule .container .title {
      margin: 1.2em 0 0 0;
      vertical-align: middle;
      text-align: center; }
  .schedule .options {
    float: right;
    color: #ababab !important;
    font-size: 17px;
    top: -5%;
    position: absolute; }
  .schedule:active {
    box-shadow: 0 0 transparent; }
  @media (min-width: 1025px) {
    .schedule {
      width: 45%;
      margin-left: 3%;
      float: left;
      clear: none;
      position: relative; } }

.schedule.free .container .title {
  color: #ff5a00;
  margin-top: 1.5em; }
.schedule.free .truck {
  background-color: #ff5a00 !important; }

.schedule.success .truck {
  background-color: #47db25; }
.schedule.success .title {
  color: #47db25; }

.big-notification {
  background-color: #47db25;
  box-shadow: #e6e6e6 1px 5px;
  color: #fff;
  width: 89%;
  padding: 0.5% 5% 2% 0.5%;
  margin: 10px auto 0 auto;
  min-height: 18%; }
  .big-notification p {
    text-align: center;
    font-size: 150%; }
