.user-types {
  border: none; }

.radio-rede-frete-facil {
  font-family: 'Open Sans', sans-serif;
  background-color: #d7d7d7;
  text-transform: uppercase;
  min-height: 70px;
  padding: 15px;
  text-align: center;
  color: #999999;
  border-radius: 3px;
  margin: 3% 2% 0 2%; }
  .radio-rede-frete-facil:active {
    background-color: #d7d7d7; }
  .radio-rede-frete-facil .feature {
    font-size: 18px;
    margin: 0 0 0 0;
    font-weight: 700;
    line-height: normal; }
  .radio-rede-frete-facil input[type=radio] {
    display: none; }
  .radio-rede-frete-facil.selected, .radio-rede-frete-facil.selected:active {
    background-color: #1fbdbe !important;
    color: white; }
  .radio-rede-frete-facil span {
    font-size: 11px;
    width: 100%;
    font-weight: 600;
    line-height: 10px; }
  @media (min-width: 1025px) {
    .radio-rede-frete-facil {
      width: 100px;
      margin-left: 3%;
      float: left;
      clear: none;
      position: relative; } }

select {
  height: 26px;
  border: none;
  border-bottom: 1px solid #ddd;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; }

.select-container .back-arrow {
  border: 5px solid transparent;
  width: 5px;
  float: right;
  border-top-color: #1fbdbe;
  margin: -20px 0 1px 0px; }

.form.signin input, .form.signin textarea, .form.signin select {
  margin: 10px 0 5px 10px;
  background: transparent; }
