.user-types {
  border: none; }

.finish-page, .finish-page .page__background {
  background-color: #1fbdbe !important; }

.form.signin .select, .form.signin input {
  font-size: 15px !important; }
.form.signin .select-container {
  border-color: #1fbdbe; }
  .form.signin .select-container .back-arrow {
    border-top-color: #1fbdbe; }
  .form.signin .select-container select {
    color: #1fbdbe; }
.form.signin .row:nth-of-type(1) {
  margin-bottom: 10px; }
.form.signin .row {
  margin-top: 20px; }
.form.signin .button {
  width: 94%;
  margin: 15px 2.5% 2.5% 15px; }
.form.signin .input-container, .form.signin .select-container {
  margin: 15px 5px 0 15px; }
  .form.signin .input-container:after, .form.signin .select-container:after {
    right: 0px; }
.form.signin .title {
  font-weight: lighter;
  padding: 0 6px 0 6px;
  font-style: italic; }
.form.signin .title.gray, .form.signin .title.gray {
  color: #cdcccc; }
.form.signin .finish-title-content {
  margin: 100px 0 0 0; }
.form.signin .finish-title-content .title {
  color: white; }
.form.signin .veihcle-title-content, .form.signin .finish-title-content {
  text-align: center;
  width: 100%; }
  .form.signin .veihcle-title-content .title.gray, .form.signin .finish-title-content .title.gray {
    margin: 5px 0 0 0; }
.form.signin .finish-title {
  color: white !important;
  padding-top: 50px; }
  .form.signin .finish-title h5.title {
    color: white !important;
    margin: 30px 0 0 0;
    text-transform: uppercase; }
  .form.signin .finish-title i {
    font-size: 110px; }
.form.signin .veihcle-title {
  color: #1fbdbe !important;
  padding-top: 50px; }
  .form.signin .veihcle-title h5.title {
    color: #1fbdbe !important;
    margin: 5px 0 0 0;
    text-transform: uppercase; }
  .form.signin .veihcle-title i {
    font-size: 110px; }
